<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mainUser}">



<body>
    <div layout:fragment="content">

        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row no-gutters ftco-services">
                    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-4 py-md-5">
                            <div class="icon d-flex justify-content-center align-items-center mb-4">
                                <span class="flaticon-bag"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Giao hàng tiện lợi</h3>
                                <p>Dịch vụ vận chuyển chuyên nghiệp, nhanh chóng, tận tình, tận tâm
                                    ,chất lượng và đúng giờ mang đến cho khách hàng trải nghiệm mua hàng tốt nhất
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-4 py-md-5">
                            <div class="icon d-flex justify-content-center align-items-center mb-4">
                                <span class="flaticon-customer-service"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Dịch vụ khách hàng</h3>
                                <p>Dịch vụ chăm sóc khách hàng 24/7, nhiệt tình, chuyên nghiệp luôn sẵn sàng hỗ trợ giải
                                    đáp thắc mắc của khách hàng
                                    về các vấn đề liên quan đến sản phẩm,
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-4 py-md-5">
                            <div class="icon d-flex justify-content-center align-items-center mb-4">
                                <span class="flaticon-payment-security"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Thanh toán nhanh chóng</h3>
                                <p>Đa dạng phương thức thanh toán, thanh toán nhanh chóng, dễ dàng. Thông tin luôn được
                                    bảo mật, đảm bảo
                                    an toàn thông tin cho khách hàng, luôn đặt khách hàng lên trên hết.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-3 pb-3">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <h2 class="mb-4">Top 10 sản phẩm mới nhất</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex" th:each="sanPham : ${newestProducts}">
                        <div class="product d-flex flex-column">
                            <a href="#" class="img-prod">
                                <img class="img-fluid" th:src="${sanPham.hinhAnh}" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3">
                                <div class="d-flex">
                                    <div class="cat">
                                        <span>Lifestyle</span>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right mb-0">
                                            <span class="ion-ios-star-outline"></span>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        </p>

                                    </div>
                                </div>
                                <h3><a th:href="@{/Sneakers_Nice/chitietsanpham/{id}(id=${sanPham.id})}"
                                        th:text="${sanPham.tenSanPham}"></a></h3>
                                <div class="pricing">
                                    <p class="price"><span
                                            th:text=" 'Giá bán: ' + ${#numbers.formatInteger(sanPham.giaBan,3,'COMMA')} +  ' VND'"></span>
                                    </p>

                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a href="#" class="add-to-cart text-center py-2 mr-1">
                                        <span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                    <a href="#" class="buy-now text-center py-2">
                                        Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li th:classappend="${currentPage == 0} ? 'disabled' : ''" class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${currentPage - 1}, size=${12})}"
                                        class="page-link">
                                        < </a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${i}, size=${12})}" class="page-link"
                                        th:text="${i + 1}">1</a>
                                </li>
                                <li th:classappend="${currentPage + 1 == totalPages} ? 'disabled' : ''"
                                    class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${currentPage+1}, size=${10})}"
                                        class="page-link">></a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>


            </div>
        </section>
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-3 pb-3">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <h2 class="mb-4">Sản phẩm mới về</h2>
                        <p>Thông tin sản phẩm chính hãng, các sản phẩm mới nhất trong tháng, hàng chính hãng 100%</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex" th:each="sanPham : ${listSanPham}">
                        <div class="product d-flex flex-column">
                            <a href="#" class="img-prod">
                                <img class="img-fluid" th:src="${sanPham.hinhAnh}" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3">
                                <div class="d-flex">
                                    <div class="cat">
                                        <span>Lifestyle</span>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right mb-0">
                                            <span class="ion-ios-star-outline"></span>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        </p>

                                    </div>
                                </div>
                                <h3><a th:href="@{/Sneakers_Nice/chitietsanpham/{id}(id=${sanPham.id})}"
                                        th:text="${sanPham.idSanPham.tenSanPham}"></a></h3>
                                <div class="pricing">
                                    <p class="price"><span
                                            th:text=" 'Giá bán: ' + ${#numbers.formatInteger(sanPham.giaBan,3,'COMMA')} +  ' VND'"></span>
                                    </p>

                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a href="#" class="add-to-cart text-center py-2 mr-1">
                                        <span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                    <a href="#" class="buy-now text-center py-2">
                                        Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li th:classappend="${currentPage == 0} ? 'disabled' : ''" class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${currentPage - 1}, size=${12})}"
                                        class="page-link">
                                        < </a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${i}, size=${12})}" class="page-link"
                                        th:text="${i + 1}">1</a>
                                </li>
                                <li th:classappend="${currentPage + 1 == totalPages} ? 'disabled' : ''"
                                    class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${currentPage+1}, size=${10})}"
                                        class="page-link">></a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>


            </div>
        </section>
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-3 pb-3">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <h2 class="mb-4">Top 10 sản phẩm bán chạy nhất</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex"
                        th:each="sanPham : ${bestSellingProducts}">
                        <div class="product d-flex flex-column">
                            <a href="#" class="img-prod">
                                <img class="img-fluid" th:src="${sanPham.hinhAnh}" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3">
                                <div class="d-flex">
                                    <div class="cat">
                                        <span>Lifestyle</span>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right mb-0">
                                            <span class="ion-ios-star-outline"></span>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        </p>

                                    </div>
                                </div>
                                <h3><a th:href="@{/Sneakers_Nice/chitietsanpham/{id}(id=${sanPham.id})}"
                                        th:text="${sanPham.tenSanPham}"></a></h3>
                                <div class="pricing">
                                    <p class="price"><span
                                            th:text=" 'Giá bán: ' + ${#numbers.formatInteger(sanPham.giaBan,3,'COMMA')} +  ' VND'"></span>
                                    </p>

                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a href="#" class="add-to-cart text-center py-2 mr-1">
                                        <span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                    <a href="#" class="buy-now text-center py-2">
                                        Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li th:classappend="${currentPage == 0} ? 'disabled' : ''" class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${currentPage - 1}, size=${12})}"
                                        class="page-link">
                                        < </a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${i}, size=${12})}" class="page-link"
                                        th:text="${i + 1}">1</a>
                                </li>
                                <li th:classappend="${currentPage + 1 == totalPages} ? 'disabled' : ''"
                                    class="page-item">
                                    <a th:href="@{/Sneakers_Nice/hienthi(page=${currentPage+1}, size=${10})}"
                                        class="page-link">></a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>


            </div>
        </section>
        <section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4">
                        <div class="choose-wrap divider-one img p-5 d-flex align-items-end"
                            style="background-image: url(/images/choose-1.jpg);">

                            <div class="text text-center text-white px-2">
                                <span class="subheading">Đa dạng sản phẩm</span>
                                <h2>Lựa chọn hấp dẫn</h2>
                                <p>Five cung cấp các sản phẩm chính hãng, đa dạng mẫu mã, chủng loại,
                                    cập nhật liên tục bắt kịp xu hướng
                                </p>
                                <p><a href="#" class="btn btn-black px-3 py-2">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row no-gutters choose-wrap divider-two align-items-stretch">
                            <div class="col-md-12">
                                <div class="choose-wrap full-wrap img align-self-stretch d-flex align-item-center justify-content-end"
                                    style="background-image: url(/images/choose-2.jpg);">
                                    <div class="col-md-7 d-flex align-items-center">
                                        <div class="text text-white px-5">
                                            <span class="subheading">Chất lượng tuyệt đối</span>
                                            <h2>Sản phẩm chính hãng</h2>
                                            <p>Tự hào là đơn vị phân phối các sản phẩm chính hãng từ các thương hiệu
                                                lớn
                                                như
                                                Nike, Adidas, Jordan,...
                                            </p>
                                            <p><a href="#" class="btn btn-black px-3 py-2">Mua ngay</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div
                                            class="choose-wrap wrap img align-self-stretch bg-light d-flex align-items-center">
                                            <div class="text text-center px-5">
                                                <span class="subheading">Ưu đãi </span>
                                                <h2>Chiết khấu hấp hẫn</h2>
                                                <p>Liên tục cập nhật các chính sách ưu đãi hấp dẫn, các chương trình
                                                    khuyến
                                                    mại
                                                    hấp dẫn</p>
                                                <p><a href="#" class="btn btn-black px-3 py-2">Mua ngay</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choose-wrap wrap img align-self-stretch d-flex align-items-center"
                                            style="background-image: url(/images/choose-3.jpg);">
                                            <div class="text text-center text-white px-5">
                                                <span class="subheading">Vận chuyển</span>
                                                <h2>Giao hàng nhanh chóng</h2>
                                                <p>Cung cấp dịch vụ vận chuyển an toàn, chuyên nghiệp, nhanh chóng.

                                                </p>
                                                <p><a href="#" class="btn btn-black px-3 py-2">Mua ngay</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ftco-section ftco-deal bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/prod-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="heading-section heading-section-white">
                            <span class="subheading">Khuyến mại</span>
                            <h2 class="mb-3">Giảm giá đón Đông</h2>
                        </div>
                        <div id="timer" class="d-flex mb-4">
                            <div class="time" id="days"></div>
                            <div class="time pl-4" id="hours"></div>
                            <div class="time pl-4" id="minutes"></div>
                            <div class="time pl-4" id="seconds"></div>
                        </div>
                        <div class="text-deal">
                            <h2><a href="#">Nike Free RN 2019 iD</a></h2>
                            <p class="price"><span class="mr-2 price-dc">$120.00</span><span
                                    class="price-sale">$80.00</span>
                            </p>
                            <ul class="thumb-deal d-flex mt-4">
                                <li class="img" style="background-image: url(/images/product-6.png);"></li>
                                <li class="img" style="background-image: url(/images/product-2.png);"></li>
                                <li class="img" style="background-image: url(/images/product-4.png);"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section testimony-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="services-flow">
                            <div class="services-2 p-4 d-flex ftco-animate">
                                <div class="icon">
                                    <span class="flaticon-bag"></span>
                                </div>
                                <div class="text">
                                    <h3 class="heading">Miễn phí ship</h3>
                                    <p>Miễn phí ship cho các hóa đơn trong bán kính 10km,
                                        miễn phí ship toàn quốc cho các hóa đơn có giá trị trên 50 triệu </p>
                                </div>
                            </div>
                            <div class="services-2 p-4 d-flex ftco-animate">
                                <div class="icon">
                                    <span class="flaticon-heart-box"></span>
                                </div>
                                <div class="text">
                                    <h3>Quà tặng giá trị</h3>
                                    <p class="mb-0">Các sản phẩm quà tặng chính hãng, vô cùng hấp dẫn.</p>
                                </div>
                            </div>
                            <div class="services-2 p-4 d-flex ftco-animate">
                                <div class="icon">
                                    <span class="flaticon-payment-security"></span>
                                </div>
                                <div class="text">
                                    <h3>Đổi trả miễn phí</h3>
                                    <p class="mb-0">Hỗ trợ đổi size, sản phẩm lỗi hoàn toàn miễn phí, thủ tục nhanh
                                        chóng.
                                    </p>
                                </div>
                            </div>
                            <div class="services-2 p-4 d-flex ftco-animate">
                                <div class="icon">
                                    <span class="flaticon-customer-service"></span>
                                </div>
                                <div class="text">
                                    <h3>Hỗ trợ 24/7</h3>
                                    <p class="mb-0">Đội ngũ nhân viên hỗ trợ 24/7, nhiệt tình tận tâm.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="heading-section ftco-animate mb-5">
                            <h2 class="mb-4">Đánh giá của khách hàng</h2>
                            <p>Five Bee luôn trân trọng khách hàng, trải nghiệm mua hàng của bạn ảnh hưởng trực tiếp
                                tới hệ
                                thông kinh doanh của chúng tôi.
                                Chúng tôi luôn hết mình vì bạn!
                            </p>
                        </div>
                        <div class="carousel-testimony owl-carousel">
                            <div class="item">
                                <div class="testimony-wrap">
                                    <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-4 pl-4 line">Trải nghiệm mua hàng vô cùng tuyệt vời, rất hài
                                            lòng với
                                            dịch
                                            vụ tại đây.</p>
                                        <p class="name">Nguyễn Trọng Đạt</p>
                                        <span class="position">khách hàng thân thiết!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap">
                                    <div class="user-img mb-4" style="background-image: url(/images/person_2.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-4 pl-4 line">Chính sách giảm giá tuyệt vời, nhân viên tư vấn
                                            rất nhiệt
                                            tình.
                                            Sẽ quay lại ủng hộ!
                                        </p>
                                        <p class="name">Nguyễn Thùy Dung</p>
                                        <span class="position">Khách hàng mới</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap">
                                    <div class="user-img mb-4" style="background-image: url(/images/person_3.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-4 pl-4 line">Sản phẩm lỗi nhưng đã được các bạn nhân viên hỗ
                                            trợ đổi.
                                            Dịch vụ rất tốt, trải nghiệm mua hàng tuyệt vời, sẽ quay lại ủng hộ
                                        </p>
                                        <p class="name">Lê Tiến Mạnh</p>
                                        <span class="position">Khách hàng mới!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap">
                                    <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-4 pl-4 line">Sản phẩm chính hãng, chất lượng rất tốt, vô cùng
                                            hài lòng,
                                            có
                                            dịp sẽ quay lại ủng hộ</p>
                                        <p class="name">Nguyễn Tiến Việt</p>
                                        <span class="position">Khách hàng thân thiết!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap">
                                    <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-4 pl-4 line">Dịch vụ chuyên nghiệp, chính sách hấp dẫn, các sản
                                            phẩm
                                            rất đa
                                            dạng,
                                            trải nghiệm mua hàng tuyệt vời.
                                        </p>
                                        <p class="name">Ngô Đăng Việt</p>
                                        <span class="position">khách hàng thân thiết!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>







    <!-- JavaScript Bootstrap (với Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>