<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm Danh Mục</title>
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Thêm Danh Mục</h1>
        <form th:action="@{/danh_muc/add}" th:object="${danhMuc}" method="post">
            <div class="mb-3">
                <label for="maDanhMuc" class="form-label">Mã Danh Mục</label>
                <input type="text" class="form-control" id="maDanhMuc" th:field="*{maDanhMuc}" readonly>
                <div class="text-danger" th:if="${#fields.hasErrors('maDanhMuc')}" th:errors="*{maDanhMuc}">Mã danh mục không hợp lệ</div>
            </div>
            <div class="mb-3">
                <label for="tenDanhMuc" class="form-label">Tên Danh Mục</label>
                <input type="text" class="form-control" id="tenDanhMuc" th:field="*{tenDanhMuc}">
                <div class="text-danger" th:if="${#fields.hasErrors('tenDanhMuc')}" th:errors="*{tenDanhMuc}">Tên danh mục không hợp lệ</div>
            </div>
            <div class="mb-3">
                <label for="trangThai" class="form-label">Trạng Thái</label>
                <select class="form-control" id="trangThai" th:field="*{trangThai}">
                    <option value="true" th:selected="*{trangThai} == true">Hoạt động</option>
                    <option value="false" th:selected="*{trangThai} == false">Không hoạt động</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Thêm</button>
            <a th:href="@{/danh_muc/hienthi}" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>

<!-- Hiển thị thông báo lỗi -->
<div th:if="${errorMessage}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errorMessage = /*[[${errorMessage}]]*/ 'null';
        if (errorMessage !== 'null') {
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: errorMessage,
                confirmButtonText: 'OK'
            }).then(() => {
                // Xóa errorMessage sau khi hiển thị thông báo
                history.replaceState(null, '', location.pathname);
            });
        }
        /*]]>*/
    </script>
</div>

</body>
</html>