<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cập nhật khuyến mãi</title>
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div layout:fragment="content">
    <!-- Hiển thị thông báo thành công, lỗi hoặc cảnh báo -->
    <script th:if="${success != null}" th:inline="javascript">
        Swal.fire({
            icon: 'success',
            title: 'Thành công',
            text: '[[${success}]]',
            position: 'center',
            timer: 3000,
            showConfirmButton: false
        });
    </script>
    <script th:if="${error != null}" th:inline="javascript">
        Swal.fire({
            icon: 'error',
            title: 'Lỗi',
            text: '[[${error}]]',
            position: 'center',
            timer: 3000,
            showConfirmButton: false
        });
    </script>
    <script th:if="${warning != null}" th:inline="javascript">
        Swal.fire({
            icon: 'warning',
            title: 'Lưu ý',
            text: '[[${warning}]]',
            position: 'center',
            timer: 3000,
            showConfirmButton: false
        });
    </script>

    <div class="container-fluid">
        <h1 style="text-align: center">Cập nhật khuyến mãi</h1>
        <form th:action="@{/khuyenmai/update}" method="post">
            <input type="hidden" name="id" th:value="${khuyenMai.id}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tenkhuyenmai">Tên khuyến mãi</label>
                        <input type="text" class="form-control" id="tenkhuyenmai" name="tenKhuyenMai"
                               th:value="${khuyenMai.tenKhuyenMai}">
                    </div>
                    <div class="form-group">
                        <label for="dieukienapdung">Điều kiện áp dụng</label>
                        <input type="number" class="form-control" id="dieukienapdung" name="dieuKienApDung"
                               th:value="${khuyenMai.dieuKienApDung.intValue}">
                        <div class="input-group-append">
                            <span class="input-group-text">VND</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loaiKhuyenMai">Loại khuyến mãi</label>
                        <select class="form-control" id="loaiKhuyenMai" name="loaiKhuyenMai"
                                onchange="toggleMaxDiscountField()">
                            <option value="true" th:selected="${khuyenMai.loaiKhuyenMai} == true">Giảm giá cố định</option>
                            <option value="false" th:selected="${khuyenMai.loaiKhuyenMai} == false">Giảm theo %</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="giatrigiam">Giá trị giảm</label>
                        <input type="number" class="form-control" id="giatrigiam" name="giaTriGiam"
                               th:value="${khuyenMai.giaTriGiam.intValue}">
                        <div class="input-group-append">
                            <span class="input-group-text" id="unit-giaTriGiam">VND</span>
                        </div>
                    </div>
                    <div class="form-group" id="group-mucGiamGiaToiDa">
                        <label for="mucGiamGiaToiDa">Mức giảm giá tối đa</label>
                        <input type="number" class="form-control" id="mucGiamGiaToiDa" name="mucGiamGiaToiDa"
                               th:value="${khuyenMai.mucGiamGiaToiDa.intValue}">
                        <div class="input-group-append">
                            <span class="input-group-text" id="unitMucGiamGiaToiDa">VND</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ngaybatdau">Ngày bắt đầu</label>
                        <input type="date" class="form-control" id="ngaybatdau" name="ngayBatDau"
                               th:value="${khuyenMai.ngayBatDau}">
                    </div>
                    <div class="form-group">
                        <label for="ngayketthuc">Ngày kết thúc</label>
                        <input type="date" class="form-control" id="ngayketthuc" name="ngayKetThuc"
                               th:value="${khuyenMai.ngayKetThuc}">
                    </div>
                    <div class="form-group">
                        <label for="soluong">Số lượng</label>
                        <input type="number" class="form-control" id="soluong" name="soLuong"
                               th:value="${khuyenMai.soLuong}">
                    </div>

                    <div class="form-group">
                        <label>Trạng thái</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="trangThaiHoatDong" name="trangThai" value="true"
                                   th:checked="${khuyenMai.trangThai}"/>
                            <label class="form-check-label" for="trangThaiHoatDong">
                                Hoạt động
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="trangThaiKhongHoatDong" name="trangThai" value="false"
                                   th:checked="${!khuyenMai.trangThai}"/>
                            <label class="form-check-label" for="trangThaiKhongHoatDong">
                                Không hoạt động
                            </label>
                        </div>
                </div>
            </div>
            </div>
            <br>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>


        <script>
            function toggleMaxDiscountField() {
                const loaiKhuyenMai = document.getElementById("loaiKhuyenMai").value;
                const mucGiamGiaToiDa = document.getElementById("mucGiamGiaToiDa");
                const giaTriGiam = document.getElementById("giatrigiam");
                const groupMucGiamGia = document.getElementById("group-mucGiamGiaToiDa");
                const unitGiaTriGiam = document.getElementById("unit-giaTriGiam");
                const unitMucGiamGiaToiDa = document.getElementById("unitMucGiamGiaToiDa");

                if (loaiKhuyenMai === "true") {
                    groupMucGiamGia.style.display = "none";
                    mucGiamGiaToiDa.value = giaTriGiam.value;
                    mucGiamGiaToiDa.readOnly = true;

                    unitGiaTriGiam.textContent = "VND";
                    unitMucGiamGiaToiDa.textContent = "VND";

                    giaTriGiam.removeAttribute("min");
                    giaTriGiam.removeAttribute("max");
                } else {
                    groupMucGiamGia.style.display = "block";
                    mucGiamGiaToiDa.readOnly = false;
                    unitGiaTriGiam.textContent = "%";
                    unitMucGiamGiaToiDa.textContent = "VND";

                    giaTriGiam.setAttribute("min", "1");
                    giaTriGiam.setAttribute("max", "100");
                }
            }

            window.onload = toggleMaxDiscountField;

            document.getElementById("giatrigiam").addEventListener("input", function () {
                if (document.getElementById("loaiKhuyenMai").value === "true") {
                    document.getElementById("mucGiamGiaToiDa").value = this.value;
                }
            });

            document.getElementById("loaiKhuyenMai").addEventListener("change", toggleMaxDiscountField);
        </script>
    </div>
</div>
</body>
</html>
