<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">

        <h1 style="text-align: center">Chi tiết Size</h1>
        <form th:action="@{/size/update/{id}(id=${detailSize.id})}" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Mã size</label>
                            <input type="text" class="form-control" name="masize" th:value="${detailSize.maSize}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tên size</label>
                            <input type="text" class="form-control" name="tensize" th:value="${detailSize.tenSize}">
                        </div>
                        <div class="mb-3">
                            <label>Trạng Thái:</label>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="trangthai" value="True" th:checked="${detailSize.trangThai}">
                                    <label class="form-check-label">Hoạt động</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="trangthai" value="False" th:checked="${!detailSize.trangThai}">
                                    <label class="form-check-label">Không hoạt động</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Lưu</button>
    </form>



    <!--         Hiển thị thông báo thành công -->
    <div th:if="${successMessage}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var successMessage = /*[[${successMessage}]]*/ 'null';
            if (successMessage !== 'null') {
                Swal.fire({
                    icon: 'success',
                    title: 'Thành công',
                    text: successMessage,
                    confirmButtonText: 'OK'
                }).then(() => {
                    // Xóa successMessage sau khi hiển thị thông báo
                    history.replaceState(null, '', location.pathname);
                });
            }
            /*]]>*/
        </script>
    </div>


</div>
</div>
</body>
</html>
