<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mainUser.html}">

<body>
    <div layout:fragment="content">
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Chào Mừng Bạn Đến Với FIVE BEE</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="loginEmail" aria-describedby="emailHelp"
                                                    placeholder="Enter Email Address...">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="loginPassword" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="rememberMe">
                                                    <label class="custom-control-label" for="rememberMe">Nhớ mật khẩu
                                                    </label>
                                                </div>
                                            </div>

                                            <a onclick="login()" class="btn btn-primary btn-user btn-block">
                                                Đăng nhập
                                            </a>
                                            <hr>

                                            <a href="/oauth2/authorization/google"
                                                class="btn btn-google btn-user btn-block">
                                                <i class="fab fa-google fa-fw"></i> Đăng nhập bằng tài khoản Google
                                            </a>
                                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                                <i class="fab fa-facebook-f fa-fw"></i> Đăng nhập bằng tài khoản
                                                Facebook
                                            </a>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="/quen_mat_khau">Quên mật khẩu</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="/dang_ky_moi">Tạo tài khoản</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div layout:fragment="js">
        <script>
            function login() {
                var email = $('#loginEmail').val();
                var matKhau = $('#loginPassword').val();
                var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                var rememberMe = $('#rememberMe').is(':checked');

                var notyf = new Notyf({ ripple: true });

                if (email === '' || matKhau === '') {
                    notyf.error('Vui lòng nhập đủ thông tin');
                    return;
                }

                if (!emailPattern.test(email)) {
                    notyf.error('Email không đúng định dạng');
                    return;
                }

                let formData = {
                    email: email,
                    matKhau: matKhau
                };
                $.ajax({
                    url: '/dang-nhap',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    xhrFields: { withCredentials: true }, // QUAN TRỌNG: Giữ cookie session
                    success: function (response) {
                        // Lưu thông tin đăng nhập nếu chọn "Remember me"
                        if (rememberMe) {
                            localStorage.setItem('email', email);
                        } else {
                            localStorage.removeItem('email');
                        }

                        notyf.success('Đăng nhập thành công!');
                        // Xác định trang đích dựa trên phản hồi từ server
                        var redirectUrl = response.redirectUrl || '/';
                        setTimeout(function () {
                            window.location.href = "/Sneakers_Nice/hienthi";
                        }, 2000);
                    },
                    error: function (xhr) {
                        try {
                            var error = JSON.parse(xhr.responseText);
                            notyf.error(error.message);
                        } catch (e) {
                            notyf.error('Đã xảy ra lỗi không xác định.');
                        }
                    }
                });
            }

            $(document).ready(function () {
                var savedEmail = localStorage.getItem('email');
                if (savedEmail) {
                    $('#loginEmail').val(savedEmail);
                    $('#rememberMe').prop('checked', true);
                }
            });

        </script>
    </div>

</body>

</html>