<div th:fragment="aside">
    <style>
        .custom-btn {
            border-radius: 10px;
            border: black 1px solid;
            height: 50px;
        }

        .custom-btn .btn {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-2 custom-btn">
                    <a href="/khach-hang/index1" class="btn btn-light w-100">Quản lý khách hàng </a>
                </div>
                <div class="mb-2 custom-btn">
                    <a href="/hoadon" class="btn btn-light w-100">Quản lý hóa đơn online </a>
                </div>
                <div class="mb-2 custom-btn">
                    <a href="/nhanvien/hienthi" class="btn btn-light w-100">Quản lý nhân viên</a>
                </div>
                <div class="mb-2 custom-btn">
                    <a href="/sanpham/hienthi" class="btn btn-light w-100">Quản lý sản phẩm</a>
                </div>
                <div class="mb-2 custom-btn">
                    <a href="/khuyenmai/hienthi" class="btn btn-light w-100">Quản lý khuyến mãi</a>
                </div>
                <div class="mb-2 custom-btn">
                    <a href="/banhangtaiquay/hienthi" class="btn btn-light w-100">Quản lý bán hàng</a>
                </div>
                <div class="mb-2 custom-btn">
                    <a href="/thongke/hienthi" class="btn btn-light w-100">Quản lý thống kê</a>
                </div>
            </div>
        </div>
    </div>



</div>