<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<body>
    <div layout:fragment="content">
        <style>
            /* CSS tổng thể */
            .invoice-container {
                background-color: #f8f9fa;
                padding: 20px;
                border-radius: 10px;
            }

            .card {
                border: none;
                border-radius: 10px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
            }

            .card-header {
                background-color: #fff;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .timeline-container {
                position: relative;
                padding: 20px 0;
            }

            .timeline-item {
                position: relative;
                padding-left: 30px;
                margin-bottom: 20px;
            }

            .timeline-icon {
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }

            .timeline-content {
                background: white;
                padding: 15px;
                border-radius: 8px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            }

            .timeline-date {
                font-size: 0.85rem;
                color: #6c757d;
            }

            .status-badge {
                padding: 5px 10px;
                border-radius: 20px;
                font-size: 0.8rem;
                font-weight: 600;
            }

            .btn-action {
                margin-right: 8px;
                margin-bottom: 8px;
                min-width: 120px;
            }

            .product-img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 5px;
            }

            .summary-card {
                background-color: #f8f9fa;
                border-radius: 10px;
                padding: 20px;
            }

            .summary-item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }

            .total-amount {
                font-size: 1.2rem;
                font-weight: 600;
                color: #dc3545;
            }

            /* Màu sắc theo trạng thái */
            .status-1 {
                background-color: #28a745;
            }

            /* Đã thanh toán */
            .status-2 {
                background-color: #ffc107;
            }

            /* Chờ xác nhận */
            .status-3 {
                background-color: #17a2b8;
            }

            /* Chờ lấy hàng */
            .status-4 {
                background-color: #6c757d;
            }

            /* Đang giao */
            .status-5 {
                background-color: #28a745;
            }

            /* Đã giao */
            .status-6 {
                background-color: #dc3545;
            }

            /* Đã hủy */
            .status-10 {
                background-color: #6610f2;
            }

            /* Đã thanh toán - chờ xác nhận */
        </style>


        <div class="container-fluid invoice-container">
            <!-- Header và nút hành động -->
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">Chi tiết hóa đơn #<span th:text="${hoaDon.maHoaDon}"></span></h5>
                    <div class="d-flex flex-wrap">
                        <input type="hidden" th:name="idHoaDon" th:value="${hoaDon.id}" />
                        <button type="submit" class="btn btn-danger btn-action" data-bs-toggle="modal"
                            data-bs-target="#modalhuyhoadon"
                            th:unless="${hoaDon.trangThai == 4 or hoaDon.trangThai == 5 or hoaDon.trangThai == 6 or hoaDon.trangThai==11}">
                            <i class="fas fa-times-circle me-1"></i> Hủy đơn
                        </button>

                        <button class="btn btn-success btn-action" id="xacnhan" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            th:unless="${hoaDon.trangThai == 6 or hoaDon.trangThai == 5 or hoaDon.trangThai==11}"
                            onclick="xacNhanHoaDon()">
                            <i class="fas fa-check-circle me-1"></i> Đổi trạng thái
                        </button>
                        <button class="btn btn-warning btn-action" id="inhoadon" th:unless="${hoaDon.trangThai != 3}"
                            th:value="${hoaDon.id}" onclick="openInvoicePage(this)">
                            <i class="fas fa-print me-1"></i> In Hóa Đơn
                        </button>
                        <button class="btn btn-info btn-action" id="muaLaiDonHang"
                            th:if="${hoaDon.trangThai == 5 or hoaDon.trangThai == 6 or hoaDon.trangThai == 11}"
                            th:data-id="${hoaDon.id}">
                            <i class="fas fa-redo me-1"></i> Mua lại
                        </button>
                    </div>
                </div>
            </div>

            <!-- Dòng thời gian trạng thái -->
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">Lịch sử trạng thái</h5>
                </div>
                <div class="card-body">
                    <div class="timeline-container">
                        <div th:each="ls, stat : ${lichSuTrangThai}" class="timeline-item">
                            <div class="timeline-icon" th:classappend="'status-' + ${ls.trangThai}">
                                <i th:if="${ls.trangThai == 1}" class="fas fa-check"></i>
                                <i th:if="${ls.trangThai == 2}" class="fas fa-pencil-alt"></i>
                                <i th:if="${ls.trangThai == 3}" class="fas fa-truck"></i>
                                <i th:if="${ls.trangThai == 0}" class="fas fa-times"></i>
                                <i th:if="${ls.trangThai == 4}" class="fas fa-box"></i>
                                <i th:if="${ls.trangThai == 5}" class="fas fa-check-square"></i>
                                <i th:if="${ls.trangThai == 6}" class="fas fa-times-circle"></i>
                                <i th:if="${ls.trangThai == 10}" class="fas fa-venus-double"></i>
                                <i th:if="${ls.trangThai == 11}" class="fas fa-ban" style="color: red;"></i>

                            </div>
                            <div class="timeline-content">
                                <div class="d-flex justify-content-between">
                                    <span class="fw-bold" th:text="${ls.trangThai == 1 ? 'Đã Thanh Toán' :
                                    (ls.trangThai == 2 ? 'Chờ xác nhận' :
                                    (ls.trangThai == 3 ? 'Chờ lấy hàng' :
                                    (ls.trangThai == 0 ? 'Chưa thanh toán' :
                                    (ls.trangThai == 4 ? 'Đang giao' :
                                    (ls.trangThai == 5 ? 'Đã giao' :
                                    (ls.trangThai == 10 ? 'Đã thanh toán - chờ xác nhận':
                                    (ls.trangThai == 11 ? 'Giao thất bại':
                                    'Đã hủy')))))))}"></span>
                                    <span class="timeline-date"
                                        th:text="${#dates.format(ls.ngayCapNhat,'dd/MM/yyyy HH:mm:ss')}"></span>
                                </div>
                                <div th:if="${ls.ghiChu != null}" class="mt-2">
                                    <small class="text-muted">Ghi chú:</small>
                                    <p class="mb-0" th:text="${ls.ghiChu}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thông tin khách hàng và đơn hàng -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Thông tin khách hàng</h5>
                            <button th:unless="${hoaDon.trangThai != 2 }" class="btn btn-sm btn-warning"
                                data-bs-toggle="modal" data-bs-target="#capnhatlichsu">
                                <i class="fas fa-edit me-1"></i> Cập nhật
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="text-muted small">Mã hóa đơn</label>
                                <p class="mb-0" th:text="${hoaDon.maHoaDon}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="text-muted small">Tên khách hàng</label>
                                <p class="mb-0" th:text="${hoaDon.tenNguoiNhan}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="text-muted small">Địa chỉ</label>
                                <p class="mb-0"
                                    th:text="${hoaDon.phuongXa + ', ' + hoaDon.quanHuyen + ', ' + hoaDon.tinhThanhPho}">
                                </p>
                            </div>
                            <div class="mb-3">
                                <label class="text-muted small">Số điện thoại</label>
                                <p class="mb-0" th:text="${hoaDon.sdtNguoiNhan}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="text-muted small">Email</label>
                                <p class="mb-0" th:text="${hoaDon.emailNguoiNhan}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="mb-0">Thông tin vận chuyển</h5>
                            <button th:unless="${ hoaDon.trangThai !=3}" class="btn btn-sm btn-warning"
                                data-bs-toggle="modal" data-bs-target="#capnhatlichsu">
                                <i class="fas fa-edit me-1"></i> Cập nhật
                            </button>
                        </div>

                        <div class="card-body">
                            <div class="mb-3">
                                <label class="text-muted small">Người giao hàng</label>
                                <p class="mb-0" th:text="${hoaDon.tenNguoiGiao ?: 'Chưa cập nhật'}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="text-muted small">Số điện thoại người giao</label>
                                <p class="mb-0" th:text="${hoaDon.sdtNguoiGiao ?: 'Chưa cập nhật'}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="text-muted small">Đơn vị giao hàng</label>
                                <p class="mb-0" th:text="${hoaDon.donViGiaoHang ?: 'Chưa cập nhật'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Danh sách sản phẩm -->
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Danh sách sản phẩm</h5>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#modalSanPham"
                        th:unless="${hoaDon == null or(hoaDon.trangThai != 2 and hoaDon.trangThai!=3)}">
                        <i class="fas fa-plus me-1"></i> Thêm sản phẩm
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th class="text-end">Đơn giá</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-center">Size</th>
                                    <th class="text-end">Thành tiền</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cthd : ${chiTietHoaDon}">
                                    <td>
                                        <img th:src="${cthd.idChiTietSanPham.hinhAnh}" class="product-img"
                                            alt="Sản phẩm">
                                    </td>
                                    <td th:text="${cthd.idChiTietSanPham.idSanPham.tenSanPham}"></td>
                                    <td class="text-end"
                                        th:text="${#numbers.formatDecimal(cthd.donGia, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                    </td>
                                    <td class="text-center">

                                        <input type="number"
                                            class="form-control d-inline-block text-center soLuongInput"
                                            style="width: 70px;" th:value="${cthd.soLuong}" min="1"
                                            th:disabled="${hoaDon == null or (hoaDon.trangThai != 2 and hoaDon.trangThai!=3)}" />
                                    </td>
                                    <td class="text-center" th:text="${cthd.idChiTietSanPham.idSize.tenSize}"></td>
                                    <td class="text-end"
                                        th:text="${#numbers.formatDecimal(cthd.soLuong*cthd.donGia, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-outline-primary btnCapNhatSanPham me-1"
                                            th:data-id-hoa-don="${cthd.idHoaDon.id}"
                                            th:data-id-hoa-don-chi-tiet="${cthd.id}"
                                            th:disabled="${hoaDon == null or (hoaDon.trangThai != 2 and hoaDon.trangThai!=3)}">
                                            <i class="fas fa-sync-alt"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-danger btnXoaSanPham"
                                            th:data-id-hoa-don="${cthd.idHoaDon.id}"
                                            th:data-id-hoa-don-chi-tiet="${cthd.id}"
                                            th:disabled="${hoaDon == null or (hoaDon.trangThai != 2 and hoaDon.trangThai!=3)}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Tổng kết đơn hàng -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Thông tin thanh toán</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="text-muted small">Phương thức thanh toán</label>
                                <p class="mb-0" th:text="${hoaDon.loaiThanhToan == 1 ? 'Chuyển khoản' : 'Tiền mặt'}">
                                </p>
                            </div>
                            <div class="mb-3">
                                <label class="text-muted small">Trạng thái thanh toán</label>
                                <p class="mb-0">
                                    <span th:if="${hoaDon.trangThai == 1}" class="badge bg-success">Đã thanh
                                        toán</span>
                                    <span th:if="${hoaDon.trangThai == 0}" class="badge bg-warning">Chưa thanh
                                        toán</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card summary-card">
                        <div class="card-header">
                            <h5 class="mb-0">Tổng kết đơn hàng</h5>
                        </div>
                        <div class="card-body">
                            <div class="summary-item">
                                <span>Tổng tiền hàng:</span>
                                <span
                                    th:text="${#numbers.formatDecimal(hoaDon.tongTien, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                            </div>
                            <div class="summary-item">
                                <span>Giảm giá:</span>
                                <span class="text-danger"
                                    th:text="'-' + ${#numbers.formatDecimal(hoaDon.tongTienGiam, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                            </div>
                            <div class="summary-item">
                                <span>Phí vận chuyển:</span>
                                <span
                                    th:text="${#numbers.formatDecimal(hoaDon.phiShip, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                            </div>
                            <hr>
                            <div class="summary-item total-amount">
                                <span>Thành tiền:</span>
                                <span
                                    th:text="${#numbers.formatDecimal(hoaDon.thanhTien, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Các modal (giữ nguyên từ code sgốc) -->
            <!-- Modal thay đổi trạng thái -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <!-- Nội dung modal giữ nguyên -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ghi chú</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="cancelForm">
                                <div class="form-group">
                                    <textarea class="form-control large-textarea" id="note" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="status">Trạng thái:</label>
                                    <select class="form-control" id="status">
                                        <option value="" disabled selected>Vui lòng chọn trạng thái</option>
                                        <option th:if="${hoaDon.trangThai == 2||hoaDon.trangThai==10}" th:value="2">
                                            Xác
                                            nhận</option>
                                        <option th:if="${hoaDon.trangThai == 3}" th:value="3">Đã
                                            lấy hàng</option>
                                        <option th:if="${hoaDon.trangThai == 4}" th:value="4">Đã
                                            giao</option>
                                        <option th:if="${hoaDon.trangThai == 4}" th:value="11">Giao thất bại</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" id="confirmCancel">Thay
                                đổi</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal hủy hóa đơn -->
            <div class="modal fade" id="modalhuyhoadon" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <!-- Nội dung modal giữ nguyên -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ghi chú</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="cancelForm">
                                <div class="form-group">
                                    <textarea class="form-control large-textarea" id="notehuyhoadon"
                                        required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" id="huyhoadon">Thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal thêm sản phẩm -->
            <div class="modal fade" id="modalSanPham" tabindex="-1" aria-labelledby="modalSanPhamLabel"
                aria-hidden="true">
                <!-- Nội dung modal giữ nguyên -->
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalSanPhamLabel">Danh sách sản phẩm chi tiết</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Hình ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá bán</th>
                                        <th>Số lượng</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="sanPhamChiTiet : ${sanPhamChiTiet}">
                                        <td><img th:src="${sanPhamChiTiet.hinhAnh}" alt="Hình ảnh"
                                                style="width:80px;height:50px;">
                                        </td>
                                        <td th:text="${sanPhamChiTiet.idSanPham.tenSanPham}"></td>
                                        <td
                                            th:text="${#numbers.formatDecimal(sanPhamChiTiet.giaBan, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                        </td>
                                        <td th:text="${sanPhamChiTiet.soLuong}"></td>
                                        <td>
                                            <button class="btn btn-success btnThemVaoHoaDon"
                                                th:data-id="${sanPhamChiTiet.id}"
                                                th:data-ten="${sanPhamChiTiet.idSanPham.tenSanPham}"
                                                th:data-gia="${sanPhamChiTiet.giaBan}"
                                                th:data-hinh="${sanPhamChiTiet.hinhAnh}">
                                                Thêm
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation" class="mt-3">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${currentPageCTSP == 0} ? 'disabled' : ''">
                                    <a th:href="@{/hoaDon/detailhoadononlinect(page=${currentPageCTSP - 1}, size=${10})}"
                                        class="page-link">«</a>
                                </li>
                                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPagesCTSP - 1)}"
                                    th:classappend="${i == currentPageCTSP} ? 'active' : ''">
                                    <a th:href="@{/hoaDon/detailhoadononlinect(page=${i}, size=${10})}"
                                        class="page-link" th:text="${i + 1}"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${currentPageCTSP + 1 == totalPagesCTSP} ? 'disabled' : ''">
                                    <a th:href="@{/hoaDon/detailhoadononlinect(page=${currentPageCTSP+1}, size=${10})}"
                                        class="page-link">»</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Modal cập nhật thông tin -->
            <div class="modal fade" id="capnhatlichsu" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <!-- Nội dung modal giữ nguyên -->
                <div class="modal-dialog modal-sm" style="max-width: 700px;"> <!-- Sử dụng modal-md để nhỏ hơn -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="exampleModalLabel">Cập nhật thông tin</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <!-- Thông tin khách hàng -->
                            <div th:attr="disabled=${hoaDon.trangThai==2}">
                                <h5>Thông tin khách hàng:</h5>
                                <div class="row row-cols-2">
                                    <div class="col mb-3">
                                        <label for="tenKhachHang" class="form-label">Tên khách hàng <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control w-80" id="tenKhachHang"
                                            th:field="${hoaDon.tenNguoiNhan}" required />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="sdtKhachHang" class="form-label">Số điện thoại <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control w-80" id="sdtKhachHang"
                                            th:field="${hoaDon.sdtNguoiNhan}" required />
                                        <div class="invalid-feedback">Số điện thoại không đúng định dạng</div>

                                    </div>
                                    <div class="col mb-3">
                                        <label for="tinhThanhPho" class="form-label">Tỉnh/Thành phố<span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control w-80" id="tinhThanhPho"
                                            th:field="${hoaDon.tinhThanhPho}" required />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="quanHuyen" class="form-label">Quận/Huyện<span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control w-80" id="quanHuyen"
                                            th:field="${hoaDon.quanHuyen}" required />
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <label for="phuongXa" class="form-label">Phường/Xã<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control w-80" id="phuongXa"
                                        th:field="${hoaDon.phuongXa}" required />
                                </div>

                            </div>

                            <!-- Thông tin giao hàng (Hiển thị nếu trạng thái == 3) -->
                            <div th:if="${hoaDon.trangThai==3}">
                                <h5>Thông tin đơn vị giao hàng:</h5>

                                <div class="row row-cols-2">
                                    <div class="col mb-3">
                                        <label for="tenNguoiGiao" class="form-label">Tên người giao<span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control w-80" id="tenNguoiGiao"
                                            th:field="${hoaDon.tenNguoiGiao}" required />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="sdtNguoiGiao" class="form-label">SĐT người giao<span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control w-80" id="sdtNguoiGiao"
                                            th:field="${hoaDon.sdtNguoiGiao}" required />
                                        <div class="invalid-feedback">Số điện thoại không đúng định dạng</div>
                                    </div>
                                    <div class=" col  mb-3">
                                        <label for="donViGiaoHang" class="form-label">Đơn vị giao hàng<span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control w-80" id="donViGiaoHang"
                                            th:field="${hoaDon.donViGiaoHang}" required />
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- Nút lưu ở modal-footer để gọn hơn -->
                        <div class="modal-footer">
                            <button type="submit" id="btn-luu-thay-doi" class="btn btn-primary">Lưu thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Các script JavaScript (giữ nguyên từ code gốc) -->

        <!--    Cập nhật số lượng-->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelectorAll(".btnCapNhatSanPham").forEach(button => {
                    button.addEventListener("click", function () {
                        let row = this.closest("tr");
                        let idHoaDon = this.getAttribute("data-id-hoa-don");
                        let idHoaDonChiTiet = this.getAttribute("data-id-hoa-don-chi-tiet");
                        let soLuongMoi = parseInt(row.querySelector(".soLuongInput").value);

                        if (!idHoaDon || !idHoaDonChiTiet) {
                            notyf.error("Lỗi dữ liệu! Vui lòng thử lại.");
                            return;
                        }

                        if (soLuongMoi < 1) {
                            notyf.error("Số lượng phải lớn hơn 0!");
                            row.querySelector(".soLuongInput").value = 1; // Reset lại số lượng nếu nhập sai
                            return;
                        }

                        fetch("/hoadononline/update-sanpham", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                idHoaDon: idHoaDon,
                                idHoaDonChiTiet: idHoaDonChiTiet,
                                soLuongMoi: soLuongMoi

                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    notyf.success("Cập nhật thành công!");
                                    setTimeout(() => {
                                        window.location.reload()
                                    }, 2000)

                                } else {
                                    notyf.error(data.message);
                                    setTimeout(() => {
                                        window.location.reload()
                                    }, 2000)

                                }
                            })
                            .catch(error => {
                                notyf.error("Lỗi hệ thống! Vui lòng thử lại sau.");
                            });
                    });
                });
            });
        </script>


        <!-- Modal -->




        <!--    Thêm sản phẩm vào hóa đơn-->
        <script>
            let notyf = new Notyf({
                duration: 3000,
                position: { x: "right", y: "top" },
            });

            function getIdHoaDonFromPath() {
                let pathParts = window.location.pathname.split("/");
                let idHoaDon = pathParts.pop();

                if (!idHoaDon || isNaN(idHoaDon)) {
                    console.error("Không tìm thấy ID hóa đơn!");
                    return null;
                }
                return parseInt(idHoaDon); // Đảm bảo ID là số nguyên
            }


            $(document).ready(function () {
                $('#muaLaiDonHang').click(function () {
                    const idHoaDon = $(this).data('id');

                    Swal.fire({
                        title: 'Xác nhận?',
                        text: "Bạn có chắc muốn mua lại đơn hàng này?",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Mua lại',
                        cancelButtonText: 'Hủy',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/hoadononline/MuaLai',
                                method: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(idHoaDon),
                                success: function (response) {
                                    notyf.success("Mua lại thành công");
                                    notyf.success("Sản phẩm đã hến"+response.spHet)
                                    notyf.success("Sản phẩm không đủ số lượng"+response.spKhongDu)
                                    if (response.URL) {
                                        setTimeout(() => {
                                            window.location.href = '/' + response.URL;
                                        }, 2000);
                                    }
                                },
                                error: function (xhr) {
                                    notyf.error("Mua lại thất bại");
                                }
                            });
                        }
                    });
                });
            });
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelectorAll(".btnThemVaoHoaDon").forEach(button => {
                    button.addEventListener("click", function () {
                        let idChiTietSanPham = parseInt(this.getAttribute("data-id"));
                        let tenSanPham = this.getAttribute("data-ten");
                        let giaBan = parseFloat(this.getAttribute("data-gia"));
                        let hinhAnh = this.getAttribute("data-hinh");
                        let soLuong = 1; // Mặc định là 1
                        let idHoaDon = getIdHoaDonFromPath(); // Lấy ID từ URL

                        if (!idHoaDon) {
                            alert("Không tìm thấy ID hóa đơn trên URL. Vui lòng kiểm tra lại!");
                            return;
                        }

                        fetch("/hoadononline/them-chi-tiet", {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({
                                idHoaDon: idHoaDon,  // Truyền ID trực tiếp
                                idChiTietSanPham: idChiTietSanPham,
                                soLuong: soLuong,
                                donGia: giaBan,
                                trangThai: 1
                            })
                        })
                            .then(response => response.json()) // Chuyển response thành JSON
                            .then(data => {
                                if (data.success) {

                                    let tbody = document.querySelector("tbody");
                                    let existingRow = tbody.querySelector(`tr[data-id="${idChiTietSanPham}"]`);
                                    if (existingRow) {
                                        notyf.success("Thêm thành công")
                                        // Nếu sản phẩm đã tồn tại, cập nhật số lượng
                                        let input = existingRow.querySelector(".soLuongInput");
                                        input.value = parseInt(input.value) + 1;
                                    } else {
                                        notyf.success("Thêm thành công")
                                        setTimeout(() => {
                                            window.location.reload()
                                        }, 2000)
                                    }
                                } else {
                                    throw new Error(data.message || "Lỗi không xác định!");
                                }
                            })
                            .catch(error => {
                                console.error("Lỗi:", error);
                                notyf.error(error.message)
                                setTimeout(() => {
                                    window.location.reload()
                                }, 2000)
                            });

                        // Đóng modal sau khi thêm
                        var modal = new bootstrap.Modal(document.getElementById('modalSanPham'));
                        modal.hide();
                    });
                });
            });

            document.getElementById('huyhoadon').addEventListener('click', function () {
                    var idHD = getIdHoaDonFromPath();
                    var note = document.getElementById('notehuyhoadon').value;

                    if (note.trim() === '') {
                        alert('Không được để trống ghi chú');
                        return;
                    }

                    var formData = {
                        idHoaDon: idHD,
                        ghiChu: note,
                        trangThai: 6
                    };

                    if (confirm('Bạn có chắc muốn hủy hóa đơn không?')) {
                        $.ajax({
                            type: 'POST',
                            url: '/hoadononline/doi-trang-thai',
                            contentType: 'application/json',
                            data: JSON.stringify(formData),
                            success: function (response) {
                                $('#modalhuyhoadon').modal('hide');
                                window.location.href = '/hoadononline/detailhoadononlinect/' + idHD;
                            },
                            error: function (error) {
                                if (error.responseJSON && error.responseJSON.message) {
                                    alert(error.responseJSON.message);
                                } else {
                                    alert("Đã xảy ra lỗi, vui lòng thử lại");
                                }
                                window.location.href = '/hoadononline/detailhoadononlinect/' + idHD;
                            }
                        });
                    }
                });

            document.getElementById('confirmCancel').addEventListener('click', function () {
                var note = document.getElementById('note').value;
                var status = parseInt(document.getElementById('status').value);
                var idHD = getIdHoaDonFromPath();


                if (note.trim() === '') {
                    alert('Ghi chú không được để trống.');
                    return;
                }
                if (!status) {
                    alert('Vui lòng chọn trạng thái.');
                    return;
                }

                var ttdoi;
                if (status === 2 || status === 10) {
                    ttdoi = 3;
                } else if (status === 3) {
                    ttdoi = 4;
                } else if (status === 4) {
                    ttdoi = 5;
                } else if (status == 11) {
                    ttdoi = 11;
                }
                else {
                    // Trường hợp mặc định nếu không khớp với bất kỳ giá trị nào
                    notyf.error("Trạng thía không hợp lệ")
                    return;
                }
                var formData = {
                    idHoaDon: idHD,
                    ghiChu: note,
                    trangThai: ttdoi
                };

                if (confirm('Bạn có muốn đổi trạng thái không ?')) {
                    // Thực hiện AJAX hoặc hành động để thay đổi trạng thái hóa đơn
                    // Ví dụ sử dụng AJAX
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        url: '/hoadononline/doi-trang-thai', // Đường dẫn đến endpoint của controller Spring
                        data: JSON.stringify(formData), // Chuyển đổi đối tượng thành JSON
                        success: function (response) {
                            alert(response.message);
                            $('#cancelModal').modal('hide');
                            // Đăng ký sự kiện chỉ 1 lần ngoài Ajax
                            document.getElementById("confirmCancel").addEventListener("click", function () {
                                document.getElementById("note").value = "";
                            });
                            // Chuyển hướng trang
                            window.location.href = '/hoadononline/detailhoadononlinect/' + idHD;
                            // Thực hiện các thao tác khác nếu cần
                        },
                        error: function (xhr) {
                            console.log(xhr);
                            // Kiểm tra xem lỗi có phải là JSON không
                            if (xhr.responseJSON && xhr.responseJSON.message) {
                                alert(xhr.responseJSON.message);
                            } else if (xhr.responseText) {
                                // Trường hợp không phải JSON, lấy responseText
                                alert(xhr.responseText);
                            } else {
                                alert("Đã xảy ra lỗi, vui lòng thử lại.");
                            }
                            document.getElementById("confirmCancel").addEventListener("click", function () {
                                document.getElementById("note").value = "";
                            });
                            window.location.href = '/hoadononline/detailhoadononlinect/' + idHD;
                        }
                    });
                }
            });
            document.getElementById("btn-luu-thay-doi").addEventListener("click", function (e) {
                let isValid = true;
                document.querySelectorAll("input[required]").forEach(input => {
                    if (!input.value.trim()) {
                        input.classList.add("is-invalid"); // Hiển thị lỗi
                        isValid = false;
                    } else {
                        input.classList.remove("is-invalid"); // Xóa lỗi nếu đã nhập
                    }
                });

                if (!isValid) {
                    e.preventDefault(); // Ngăn form gửi nếu có lỗi
                    notyf.error("Vui lòng nhập đầy đủ thông tin!");
                    return;
                }
                e.preventDefault(); // Ngăn chặn reload trang
                let sdtNguoiGiao = document.getElementById("sdtNguoiGiao").value.trim();
                let phoneInput = document.getElementById("sdtKhachHang");
                let phoneNumber = phoneInput.value.trim();

                // Biểu thức chính quy kiểm tra số điện thoại Việt Nam hợp lệ
                let phoneRegex = /^(03|05|07|08|09)\d{8}$/;

                if (!phoneRegex.test(phoneNumber)) {
                    phoneInput.classList.add("is-invalid"); // Hiển thị lỗi
                    notyf.error("Số điện thoại không hợp lệ!");
                } else if (!phoneRegex.test(sdtNguoiGiao)) {
                    document.getElementById("sdtNguoiGiao").classList.add("is-invalid");
                    notyf.error("Số điện thoại người giao hàng không hợp lệ!");
                }
                else {
                    // Nếu hợp lệ, có thể gửi AJAX
                    updateHoaDon();
                }

            });
            function updateHoaDon() {
                var idHD = getIdHoaDonFromPath(); // Hàm lấy ID từ URL hoặc nguồn khác
                let tenNguoiGiao = document.getElementById("tenNguoiGiao").value.trim();
                let sdtNguoiGiao = document.getElementById("sdtNguoiGiao").value.trim();
                let donViGiaoHang = document.getElementById("donViGiaoHang").value.trim();
                if (tenNguoiGiao == '' || sdtNguoiGiao == '' || donViGiaoHang == '') {
                    tenNguoiGiao = 'Không có';
                    sdtNguoiGiao = 'Không có';
                    donViGiaoHang = 'Không có';

                }
                let hoaDon = {
                    id: idHD,
                    tenKhachHang: $("#tenKhachHang").val(),
                    sdt: $("#sdtKhachHang").val(),
                    tinhThanhPho: $("#tinhThanhPho").val(),
                    quanHuyen: $("#quanHuyen").val(),
                    phuongXa: $("#phuongXa").val(),
                    tenNguoiGiao: tenNguoiGiao,
                    sdtNguoiGiao: sdtNguoiGiao,
                    donViGiaoHang: donViGiaoHang
                };

                fetch('/hoadononline/updatehoadon', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(hoaDon)
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.json().then(data => {
                                throw new Error(data.message || "Có lỗi xảy ra");
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.message) {
                            notyf.success(data.message || "Cập nhật thành công!");
                            $("#capnhatlichsu").modal("hide"); // Ẩn modal
                            setTimeout(() => {
                                location.reload(); // Load lại trang để cập nhật dữ liệu
                            }, 2000);
                        } else {
                            notyf.error("Cập nhật thất bại!");
                            $("#capnhatlichsu").modal("hide"); // Ẩn modal
                        }
                    })
                    .catch(error => {
                        console.error("Lỗi khi cập nhật:", error);
                        notyf.error("Lỗi cập nhật: " + error.message);
                    });
            }
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelectorAll(".btnXoaSanPham").forEach(button => {
                    button.addEventListener("click", function () {
                        let idHoaDon = this.getAttribute("data-id-hoa-don");
                        let idHoaDonChiTiet = this.getAttribute("data-id-hoa-don-chi-tiet");

                        if (!idHoaDon || !idHoaDonChiTiet) {
                            alert("Lỗi: Không lấy được ID sản phẩm hoặc hóa đơn!");
                            return;
                        }

                        if (!confirm("Bạn có chắc muốn xóa sản phẩm này khỏi hóa đơn?")) {
                            return;
                        }

                        fetch(`/hoadononline/xoa-chi-tiet/${idHoaDon}/${idHoaDonChiTiet}`, {
                            method: "DELETE"
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    notyf.success("Xóa thành công")
                                    this.closest("tr").remove(); // Xóa dòng khỏi bảng
                                    setTimeout(() => {
                                        window.location.reload()
                                    }, 2000)

                                } else {
                                    notyf.error(data.message || "Xóa thất bại")
                                }
                            })
                            .catch(error => {
                                console.error("Lỗi khi xóa:", error);
                                alert("Lỗi hệ thống!");
                            });
                    });
                });
            });
            function openInvoicePage(button) {
                var hoaDonId = button.value; // Lấy ID hóa đơn từ value của nút
                if (hoaDonId) {
                    var url = "/hoadononline/in-hoadon/" + hoaDonId;
                    window.open(url, "_blank"); // Mở trang in hóa đơn trong tab mới
                } else {
                    alert("Không tìm thấy hóa đơn!");
                }
            }

        </script>

    </div>
</body>

</html>