<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<body>
    <div layout:fragment="content" class="container mt-5">
        <h2 class="mb-4">Cập Nhật Thông Tin Chức Vụ</h2>
        <form th:action="@{/chuc_vu/update/{id}(id=${chucVu.id})}" th:object="${chucVu}" method="post"
            class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="tenChucVu" class="form-label">Tên Chức Vụ</label>
                <input type="text" th:field="*{tenChucVu}" class="form-control" id="tenChucVu" required />
                <div th:if="${#fields.hasErrors('tenChucVu')}" th:errors="*{tenChucVu}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="tenChucVu" class="form-label">Phân quyền</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="phanQuyen" th:field="*{phanQuyen}" value="true" id="phanQuyen" checked>
                    <label class="form-check-label" for="addMale">Admin</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="phanQuyen" th:field="*{phanQuyen}" value="false" id="phanQuyen" >
                    <label class="form-check-label" for="addMale">Employee</label>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Cập Nhật Chức Vụ</button>
                <button type="button" class="btn btn-secondary" onclick="history.back()">Trở lại</button>
            </div>
        </form>
    </div>

    <!-- Hiển thị thông báo thành công -->
    <div th:if="${successMessage}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var successMessage = /*[[${successMessage}]]*/ 'null';
            if (successMessage !== 'null') {
                Swal.fire({
                    icon: 'success',
                    title: 'Thành công',
                    text: successMessage,
                    confirmButtonText: 'OK'
                }).then(() => {
                    // Xóa successMessage sau khi hiển thị thông báo
                    history.replaceState(null, '', location.pathname);
                });
            }
            /*]]>*/
        </script>
    </div>

    <!-- Hiển thị thông báo lỗi -->
    <div th:if="${errorMessage}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var errorMessage = /*[[${errorMessage}]]*/ 'null';
            if (errorMessage !== 'null') {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: errorMessage,
                    confirmButtonText: 'OK'
                }).then(() => {
                    // Xóa errorMessage sau khi hiển thị thông báo
                    history.replaceState(null, '', location.pathname);
                });
            }
            /*]]>*/
        </script>
    </div>

</body>

</html>